$gridGap: 40px;
$gridGutters: 4 * $gridGap;
$gridWidth: calc(100% - 80px * 2);

$gridColumns: repeat(12, 1fr);

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.main {
  display: grid;
  margin-top: $gridGap;
  margin-bottom: $gridGap;
  grid-template-columns: $gridColumns;
  grid-gap: $gridGap;
}

.quiz {
  grid-column: 2 / span 10;
}

.results {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: $gridColumns;
}


@media (min-width: 500px) {
  .wrapper {
    max-width: $gridWidth;
  }
}

@media (min-width: 1000px) {
  .quiz {
    grid-column: 3 / span 8;
  }
}

@media (min-width: 1200px) {
  .quiz {
    grid-column: 4 / span 6;
  }
}

.results-selection {
  grid-column: 1 / span 3;
}
.results-list {
  grid-column: 6 / span 6;
}

/* Nav */
nav {
  height: 80px;
  display: flex;
  align-items: center;
}
.nav-items {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  padding-left: $gridGutters;
  padding-right: $gridGutters;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-item-button {
  height: 100%;
}

/* Results Selection */
.results-selection {
  margin-top: 100px;
}
