$gridGap: 20px;
$gridGutters: 4 * $gridGap;
$gridWidth: calc(100% - 80px * 2);

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: $gridGap;
}

.main {
  grid-column: 2 / span 11;
  display: flex;
  margin-top: $gridGutters;
  margin-bottom: $gridGutters;
}

@media (min-width: 400px) {
  .wrapper {
    max-width: $gridWidth;
  }
}

@media (min-width: 1000px) {
  .main {
    grid-column: 3 / span 8;
  }
}

@media (min-width: 1200px) {
  .main {
    grid-column: 4 / span 6;
  }
}
