$gray1: #f6f6f6;

$punchRed: indianred;

body {
  background-color: $gray1;
}

h1 {
  color: $punchRed;
  text-transform: uppercase;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  color: $punchRed;
}

/* Main Links */
.results-item-button {
  background-color:transparent;
  color: $punchRed;
}
.result--selected {
  color: #fff;
  background-color: $punchRed;
}